body{
  background-color: #2196f3;
  font-family: 'Supermercado One';
}
.wrapper{
  font-size: 65%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 25% 25% 25%;
  text-align: center;
  grid-row-gap: 20px;
}
.item-1{
  background-color: #666666;
  grid-column: 1 / -1;
  padding: 50px;
  color: white;
  text-align: center;
  text-shadow: 2px 1px #333333;
  font-style: oblique;
  border-radius: 5% 5% 5% 5%;
}
.item-2{
  background-color: #666666;
  grid-column: 1 / -1;
  padding: 50px;
  color: white;
  text-align: center;
  text-shadow: 2px 1px #333333;
  border-radius: 1% 20% 1%;
  font-style: oblique;
}
.header{
  font-size: 100%;
  grid-column: 1 / -1;
}
#train-table{
  background-color: #cfd8dc;
  text-align: left;
  text-shadow: 1px 1px #333333;
  border-radius: 5% 5% 5% 5%;
}
.table{
  border-radius: 5% 5% 5% 5%;
}
.networking{
  opacity: 1;
  max-height: 50px;
  max-width: 50px;
}
.networking:hover{
  opacity: .5;
}
tr:hover{
  opacity: .8;
  background-color: #eceff1;
  box-shadow: 11px 11px 11px rgba(255,255,255, 0.5);
  animation: pulse 2s infinite;
}
#add-train-btn{
  margin-top: 5%;
  margin-bottom: 5%;
}
#add-train-btn:hover{
  background-color: #90caf9;
  box-shadow: 11px 11px 11px rgba(255,255,255, 0.5);
  animation: pulse 2s infinite;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}
